.cardContainer {
  width: 100%;
  padding: 10px;
    border: 1px solid lightgray;
  .title {
      font-size: 14px;
  }
  .subTitle {
    font-size: 12px;
  }
  .buttons {
    .webButton {
      display: inline-block;
      margin-left: 10px;
    }
    .codeButton {
      display: inline-block;
      margin-left: 10px;
    }
  }
}
