@import "~scss/globals";
// Define a color variable
$color-sassy: #cc4397;
$color-blue: #0059ff;

.headerMain {
  color: $color-blue;
  height: 100%;
  width: 90px;
  background-color: $primary;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  align-content: center;
  margin-top: 50;
  margin: auto;
  display: inline-grid;

  .homeLink {
    img {
      width: 40px;
      height: 40px;
    }
  }
}
